<title>Tareas</title>

<h1 align="center">Agregar Tareas</h1>

<section class="contact-wrap">
    <form class="container" class="contact-form" ng-submit="mensjae()" name="inquiryForm" novalidate>

        <div class="col-sm-12">
            <label>Titulo:</label>
            <input type="text" maxlength="50" ng-required="true"
            ng-model="titulo" class="form-control">
        </div>


        <div class="col-sm-12">
                <label for="name">Responsable:</label>
                <select ng-model="Responsable" ng-repeat="item in Responsables" ng-required="true">
                  <option value='3'>{{ Responsables.val_Nombre }}</option>
                  <option value="6">6 pagos: 7% de interes</option>
                  <option value="9">9 pagos: 12% de interes</option>
                </select>
        </div>

        <div class="col-sm-12">
            <label>Fecha De inicio:</label>
            <input type="datetime-local"  ng-model="FechaDeinicio"    ng-required="true"
                class="form-control">
        </div>

        <div class="col-sm-12">
            <label>Fecha de Fin:</label>
            <input type="datetime-local"   ng-model="FechadeFin"   ng-required="true"
                class="form-control">
        </div>

        <div class="col-sm-12">
            <label>Porcentaje de Avance:</label>
            <input  type="number" ng-model="PorcentajedeAvance" min="0.00" max="10000.00" step="0.01" ng-required="true"
                class="form-control">
        </div>

        <div class="col-sm-12">
            <label>Categoria:</label>
            <input type="text" ng-model="Categoria" ng-required="true"
                class="form-control">
        </div>

        <p> </p>

        <div class="col-sm-10">
            <button type="submit" id="submit" name="submit" class="btn btn-primary pull-left" ng-disabled="inquiryForm.$invalid">Agregar Tarea</button>
        </div>
    </form>
</section>