<title>Tareas</title>

<h1 align="center">Agregar Tareas</h1>

<section class="contact-wrap">
    <form class="container" class="contact-form" ng-submit="AgregarTarea()" name="inquiryForm" novalidate>

        <div class="col-sm-12">
            <label>Titulo:</label>
            <input type="text" maxlength="50" ng-required="true" ng-model="titulo" class="form-control">
        </div>

        <p> </p>
        <div class="col-sm-12">
            <label for="Responsables">Responsable:</label>
            <select ng-model="Responsable" ng-required="true" ng-options="optRes.val_nombre for optRes in Responsables">
            </select>
        </div>
        <p> </p>

        <p> </p>
        <div class="col-sm-12">
            <label>Categoria:</label>
            <select ng-model="Categoria" ng-required="true" ng-options="optCat.val_nombre for optCat in Categorias">
            </select>
        </div>
        <p> </p>

        <div class="col-sm-12">
            <label>Fecha De inicio:</label>
            <input type="datetime-local" ng-model="FechaDeinicio" ng-required="true" class="form-control">
        </div>

        <div class="col-sm-12">
            <label>Fecha de Fin:</label>
            <input type="datetime-local" ng-model="FechadeFin" ng-required="true" class="form-control">
        </div>

        <div class="col-sm-12">
            <label>Porcentaje de Avance:</label>
            <input type="number" ng-model="PorcentajedeAvance" min="0.00" max="10000.00" step="0.01" ng-required="true"
                class="form-control">
        </div>

        <p> </p>
        <div class="col-sm-12">
            <label>SubTareas:</label>
            <select ng-model="SubTarea" ng-required="true" ng-options="optCat.val_nombre for optCat in SubTareas">

            </select>
        </div>
        
        <p> </p>

        <div class="col-sm-10">
            <button type="submit" id="submit" name="submit" class="btn btn-primary pull-left" ng-disabled="inquiryForm.$invalid">Agregar
                Tarea</button>
        </div>

       

    </form>
    <form class="container" class="contact-form" ng-submit="AgregarSubTarea()" name="inquiryForm" novalidate>
      <h3 align="center">Agregar SubTareas</h3>

      <p> </p>
      <div class="col-sm-12">
          <label for="Responsables">Responsable:</label>
          <select ng-model="Responsable" ng-required="true" ng-options="optRes.val_nombre for optRes in Responsables">
          </select>
      </div>
      <p> </p>

      <div class="col-sm-10">
            <button type="submit" id="submit" name="submit" class="btn btn-primary pull-left" ng-disabled="inquiryForm.$invalid">Agregar
                SubTarea</button>
        </div>

    </form>
    <p> </p>
</section>